<!-- <mat-toolbar color="primary" fxLayout="row wrap">
  <span><img src="assets/images/logo.png" height="30" width="41"></span>
         <a mat-button routerLink='/home' routerLinkActive = "active"><span class="fa fa-home fa-lg"></span>Home</a>
        <a mat-button routerLink='/aboutus'  routerLinkActive = "active"><span class="fa fa-info fa-lg"></span>About</a>
       <a mat-button routerLink='/menu'  routerLinkActive = "active"><span class="fa fa-list fa-lg"></span>Menu</a>
       <a mat-button routerLink='/contactus'  routerLinkActive = "active"><span class="fa fa-address-card fa-lg"></span>Contact</a>
<span class="flex-spacer"></span>
<a mat-button (click)="openLoginForm()"><span class="fa fa-sign-in fa-lg"></span> Login</a>
      </mat-toolbar> -->
   <mat-toolbar color="primary">
        <div fxHide.gt-xs>
            <button mat-icon-button (click)="onToggleSidenav()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <div>
            <span><img src="assets/images/logo.png" height="30" width="41"></span>
        </div>
        <div fxFlex fxLayout fxLayoutAlign="start" fxHide.xs>
            <ul fxLayout fxLayoutGap="15px" class="navigation-items">
                <li>
                    <a mat-button routerLink='/home' routerLinkActive = "active"><span class="fa fa-home fa-lg"></span>Home</a>
                </li>
                <li>
                    <a mat-button routerLink='/aboutus'  routerLinkActive = "active"><span class="fa fa-info fa-lg"></span>About</a>
                </li>
                <li>
                    <a mat-button routerLink='/menu'  routerLinkActive = "active"><span class="fa fa-list fa-lg"></span>Menu</a>
                    </li>
                    <li>
                        <a mat-button routerLink='/contactus'  routerLinkActive = "active"><span class="fa fa-address-card fa-lg"></span>Contact</a>
                        </li>
            </ul>
        </div>
        <span class="flex-spacer"></span>
<a mat-button (click)="openLoginForm()"><span class="fa fa-sign-in fa-lg"></span> Login</a>
      </mat-toolbar> 
      <!-- <div style="height: 80vh;">
        <mat-toolbar color="primary">
          <mat-toolbar-row>
            <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
              <mat-icon>menu</mat-icon>
            </button>
            <span>Responsive Navigation</span>
            <span class="menu-spacer"></span>
            <div fxShow="true" fxHide.lt-md>
               The following menu items will be hidden on both SM and XS screen sizes 
              <a href="#" mat-button>Menu Item 1</a>
              <a href="#" mat-button>Menu Item 2</a>
              <a href="#" mat-button>Menu Item 3</a>
              <a href="#" mat-button>Menu Item 4</a>
              <a href="#" mat-button>Menu Item 5</a>
              <a href="#" mat-button>Menu Item 6</a>
            </div>
          </mat-toolbar-row>
        </mat-toolbar>
      
        <mat-sidenav-container fxFlexFill>
          <mat-sidenav #sidenav>
            <mat-nav-list>
              <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
              <a href="#" mat-list-item>Menu Item 1</a>
              <a href="#" mat-list-item>Menu Item 2</a>
              <a href="#" mat-list-item>Menu Item 3</a>
              <a href="#" mat-list-item>Menu Item 4</a>
              <a href="#" mat-list-item>Menu Item 5</a>
              <a href="#"mat-list-item>Menu Item 6</a>
            </mat-nav-list>
          </mat-sidenav>
          <mat-sidenav-content fxFlexFill>Main content</mat-sidenav-content>
        </mat-sidenav-container>
      </div> -->

<div class="container jumbotron"
fxLayout="row wrap"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.xs="start center"
fxLayoutAlign.sm="start center"
fxLayoutAlign.gt-sm="center center"
fxLayoutGap="10px">

<div fxFlex fxFlex.gt-sm="50%">
 <h1>Ristorante con Fusion</h1>
  <p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations will tickle your culinary senses!</p>
</div>


<div fxFlex fxFlex.gt-sm="20%">
 <img src="assets/images/logo.png" >
</div>

<div fxFlex ></div>
</div>